@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

.bg{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.yellow{
    width: 50%;
    height: 100vh;
    /* background-color: rgb(255, 179, 0); */
    /* background-image: linear-gradient(rgba(243,156,18,0.8), rgba(243,156,18,0.5)); */
    background-color: #ffc146;
}

.black{
    width: 50%;
    height: 100vh;
    background-color: black;
}

.container{
    width: 50%;
    height: 70vh;
    position: absolute;
    top: 15%;
    left: 25%;
    border-radius: 15px;
    display: flex;
}

.side{
    width: 10%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.side i{
    margin-top: 50px;
    color: white;
}

.info{
    width: 40%;
    height: 100%;
    background-color: white;
}

nav{
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    font-weight: 500;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
}

.info h1{
    font-size: 42px;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 30%;
}

.info p{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 15px;
    margin-top: 15px;
}

.btn{
    width: 100px;
    height: 40px;
    background-color: rgb(255, 213, 0);
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.info a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
}
.image{
    width: 50%;
    height: 100%;
    border-radius: 0 15px 15px 0;
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
}