*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
}

.yellow{
    width: 55vw;
    height: 100vh;
    background-color: orange;
}

.black{
    width: 45vw;
    height: 100vh;
    background-color: black;
}

.container{
    width: 60%;
    height: 70vh;
    position: absolute;
    top: 15%;
    left: 25%;
    border-radius: 15px;
    display: flex;
}

.left{
    width: 50%;
    height: 70vh;
    background-color: black;
    color: white;
    border-radius: 15px 0 0 15px;
}


header h1{
    font-size: 15px;
    color: orange;
    margin-left: 30px;
    margin-top: 20px;
}

.title{
    font-size: 50px;
    color: white;
    margin-left: 30px;
    margin-top: 50px;
}

p{
    font-size: 15px;
    color: white;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
}

.btn{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: orange;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
}

.btn a{
    text-decoration: none;
    color: black;
}

.btn:hover{
    background-color: white;
    font-style: oblique;
}

.user{
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.right{
    width: 50%;
    height: 70vh;
    background-color: orange;
    border-radius: 0 15px 15px 0;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
}


