* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styling the navbar */
.navbar {
  background-color: #815854;
  color: #F9EBDE;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo{
    font-size: 20px;
}

.logo:hover{
    font-size: 30px;
    color: #815854;
    background-color: #F9EBDE;
    cursor: pointer;
}

.navbar a {
  font-size: 20px;
  color: #F9EBDE;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar a:hover {
  background-color: #F9EBDE;
  color: #815854;
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product-item {
  background-color: #815854;
  color: #F9EBDE;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.product-image {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
}

footer {
  background-color: #815854;
  color: #F9EBDE;
  text-align: center;
  padding: 20px;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
  color: #F9EBDE;
  text-decoration: none;
}

.social-media a:hover {
  background-color: #F9EBDE;
  color: #815854;
}

.blog-section {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.blog-post {
  margin-bottom: 20px;
  background-color: #F9EBDE;
  padding: 15px;
  border-radius: 5px;
}

.blog-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #815854;
}

.blog-excerpt {
  color: black;
}
