/* External Method */
h1{
    color: red;
    text-align: center;
    text-decoration: black underline;
    letter-spacing: 10px;

}

p{
    color: teal;
}

button{
    background-color: orange;
    color: white;
}

pre{
    color: teal;
}