body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8cff8c;
}

.header {
    background-color: #bcbc04;
    color: white;
    text-align: center;
    padding: 10px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    background-color: #ac3f3f;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #555;

}

.main-section {
    margin: 20px;
}

.blog-post {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post:before {
    content: '📝';
    font-size: 20px;
    margin-right: 5px;
}

.blog-post:hover {
    border: 2px solid #333;
}

.sidebar {
    float: right;
    width: 30%;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
}


.sidebar:hover{
    background-color: aqua;
}

.sidebar a{
    text-decoration: none;
    color: black;
}

.sidebar p:first-child {
    font-weight: bold;
}

.clear-float {
    clear: both;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}